
@import 'typography';
$primary-color: blue;
$font: jost-book;
$fontsize: 24px;

@mixin mq($width){
    @media (max-width: $width){
        @content;
    }
}

@mixin vertical-middle () {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color:$primary-color;
    font-family: $font;
    @include vertical-middle();
    min-height: 100vh;
}

h1{
    font-family: $font;
    font-size:44px;
    color:rgb(15, 3, 3);
}
p{
    font-family: $font;
    font-size:$fontsize;
    color:#fff;
}
section{
   
    width:500px;
    p{
        margin:40px 0;
    }
    @include mq(800px){
        width:300px;
    }
}